<div
  class="how-work-area pt-100 pb-75"
  style="background-image: url(/assets/images/dott.jpg)"
  id="player"
>
  <div class="container">
    <div class="section-title">
      <h2>Apuesta y <span>Gana</span></h2>
    </div>
    <div class="row justify-content-center mb-5">
      <p>
        Somos tu página de confianza en el mundo de las apuestas deportivas.
      </p>
      <p>
        Somos líder en el mercado te proporcionaremos todas las oportunidades y
        beneficios de ser nuestro afiliado. Obtén probabilidades más altas de
        ganar en cada jugada, y a medida que acumules apuestas, desbloquearás
        bonos y privilegios especiales.
      </p>
      <p>
        ¡Empieza a ganar con cada paso en tu emocionante viaje con nosotros!
      </p>
      <p>
        Te preguntaras que necesitas para afiliarte, es fácil llena tus datos y
        listo, ya perteneces a la mejor página de pronosticos deportivos.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="fas fa-1"></i>
          </div>
          <h3>Solicita tu cuenta</h3>
          <p>Obtén tu usuario y contraseña para comenzar a jugar.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="fas fa-2"></i>
          </div>
          <h3>Ingresa y apuesta</h3>
          <p>Explora Sorti365 y elige tus apuestas favoritas.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="far fa-3"></i>
          </div>
          <h3>Recibe tus ganancias</h3>
          <p>Disfruta de las recompensas que te esperan.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape1">
    <img src="/assets/images/shape1.png" alt="image" />
  </div>
</div>
