<div
  class="how-work-area pt-100 pb-75"
  style="background-image: url(/assets/images/dott.jpg)"
  id="player"
>
  <div class="container">
    <div class="section-title">
      <h2>
        {{ "PLAYER.TITLE_PART1" | translate }}
        <span>{{ "PLAYER.TITLE_PART2" | translate }}</span>
      </h2>
    </div>
    <div class="row justify-content-center mb-5">
      <p>{{ "PLAYER.P1" | translate }}</p>
      <p>{{ "PLAYER.P2" | translate }}</p>
      <p>{{ "PLAYER.P3" | translate }}</p>
      <p>{{ "PLAYER.P4" | translate }}</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="fas fa-1"></i>
          </div>
          <h3>{{ "PLAYER.STEP1_TITLE" | translate }}</h3>
          <p>{{ "PLAYER.STEP1_DESC" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="fas fa-2"></i>
          </div>
          <h3>{{ "PLAYER.STEP2_TITLE" | translate }}</h3>
          <p>{{ "PLAYER.STEP2_DESC" | translate }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="far fa-3"></i>
          </div>
          <h3>{{ "PLAYER.STEP3_TITLE" | translate }}</h3>
          <p>{{ "PLAYER.STEP3_DESC" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape1">
    <img src="/assets/images/shape1.png" alt="Background of section" />
  </div>
</div>
