<div class="register-wrapper">
  <div class="register-inner">
    <img src="assets/images/logo_sorti.webp" class="floating-icon icon-2" />

    <h2 class="display-5 fw-bold text-center mb-4 title-animation">
      <small class="text-body-tertiary fw-semibold">Bienvenido a </small
      ><span class="custom-color">Sorti</span>
    </h2>

    <div class="register-container">
      <div class="tab-switcher">
        <div class="tab-indicator" #tabIndicator></div>

        <button
          (click)="switchTab('simple')"
          [class.active]="activeTab() === 'simple'"
        >
          Registro rápido
        </button>

        <button
          (click)="switchTab('complete')"
          [class.active]="activeTab() === 'complete'"
        >
          Registro Completo
        </button>
      </div>

      <div #formWrapper>
        @if (visibleTab() === 'simple') {
        <simple-register-player-form
          (formReady)="onFormReady($event)"
        ></simple-register-player-form>
        } @else {
        <complete-register-player-form
          (formReady)="onFormReady($event)"
        ></complete-register-player-form>
        }

        <div class="row g-3 mt-4">
          <div class="col-12 col-md-auto flex-fill">
            <button
              class="btn btn-primary w-100"
              [disabled]="!isFormValid"
              (click)="onSubmit()"
            >
              Registrarse
            </button>
          </div>
          <div class="col-12 col-md-auto flex-fill">
            <button class="btn btn-secondary w-100" (click)="onMoreInfo()">
              Más Información
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
