<div id="play-now" class="play-now position-relative">
  @if (shouldShowPoint) {
  <div #point class="point position-absolute z-2">
    {{ "PLAY_NOW.SPIN" | translate }}
  </div>
  }
  <div
    #threeDice
    class="three-dice position-absolute top-0 start-0 w-100 h-100 z-0"
  ></div>

  <div
    class="d-flex justify-content-start align-items-center w-100 h-100 custom-padding"
  >
    <div class="card flex-column justify-content-evenly align-items-start">
      <h2 class="section-title mt-0 mb-2">
        {{ "PLAY_NOW.TITLE" | translate }}
      </h2>
      <p class="play-now-description">
        {{ "PLAY_NOW.DESCRIPTION" | translate }}
      </p>
      <button class="btn btn-primary w-100" (click)="startGame()">
        {{ "PLAY_NOW.START_GAME" | translate }}
      </button>
    </div>
  </div>
</div>
