<!-- <div id="play-now" class="play-now position-relative overflow-hidden">
  <div #threeDice class="three-dice position-absolute top-0 start-0 w-100 h-100"></div>

  <div class="container h-100 d-flex align-items-center">
    <div class="play-now-content text-white">
      <h2 class="section-title">Play Now</h2>
      <p class="play-now-description">Join the fun and start playing today!</p>
      <button class="btn btn-primary" (click)="startGame()">Start Game</button>
    </div>
  </div>
</div> -->

<div id="play-now" class="play-now position-relative">
  <!-- Background Three.js -->
  <div
    #threeDice
    class="three-dice position-absolute top-0 start-0 w-100 h-100 z-0"
  ></div>

  <!-- Content Overlay (smaller and animable) -->
  <div class="container position-relative top-50 z-2">
    <div class="play-now-content text-white card">
      <h2 class="section-title">Play Now</h2>
      <p class="play-now-description">Join the fun and start playing today!</p>
      <button class="btn btn-primary" (click)="startGame()">Start Game</button>
    </div>
  </div>
</div>
